{% extends 'base.html.twig' %}

{% block title %}New Genre{% endblock %}

{% block body %}
    <h1>créer un nouveau Genre</h1>

    {{ include('genre/_form.html.twig') }}

    <a href="{{ path('genre_index') }}">back to list</a>
{% endblock %}
